<ng-content></ng-content>

<div class="main_component div-flex">
    <mat-card class="div-flex">
        <mat-card-header>
            <mat-card-title>Contacts</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <p><mat-icon>calll</mat-icon> 06 90 222 31 128</p>
            <p><mat-icon>email</mat-icon> billiardpubcontact@gmail.com</p>
            <p><mat-icon>local_bar</mat-icon> Zsemle utca, kifli tér, a házszámot meg elfújta a szél</p>
        </mat-card-content>
    </mat-card>
</div>
